*{
    padding: 0px;
    margin: 0px;
}

:root {
    --cor1:#73556E;
    --cor2: #F2E2CE;
    --cor3:#A65E1F;
    --cor4:#8C4126;
    --cor5:#BF9D8A;
    --cor6: #f7ece09c;
    --fonte1:"Alex Brush", cursive;
    --fonte2:"GFS Didot", serif;
}

section#confirmação{
    background-color: var(--cor2);
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center;  
}

#conf{
    background-color: white;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);
    transition: width .8s, heigth .8s;
    transition-timing-function: ease;
}

.imag{
    background-image: url(imagens/imagemconfirm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 45%;
    height: 100%;
}

#formconf{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    float: right;
    width: 55%;
    height: 100%;
    text-align: center;   
}

#formconf h2{
    padding-bottom: 40px;
    font-size: 3rem;
    font-family: var(--fonte2);
    color: var(--cor3);
}

#formconf button{
    margin-top: 5px;
    width: 80%;
    height: 35px;
    border-radius: 8px;
    font-family: var(--fonte);
    text-transform: uppercase;
    border: none;
    background-color: var(--cor3);
    color: white;
    font-size: 1.4rem;
    transition: .1s;
}
#formconf button:hover{
    background-color: var(--cor4);
    color: white;
}

@media screen and (max-width: 767px) {
    section#confirmação{
        height: 100vh;
        display: flex;
        align-items: center; 
        justify-content: center;  
    }

    #conf{
        position: relative;
        background-color: white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        display: block;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);
        transition: width .8s, heigth .8s;
        transition-timing-function: ease;
        z-index: 1;
    }

    .imag{
        background-image: url(imagens/imagemconfirm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        float: top;
        width: 100%;
        height: 40%;
    }

    #formconf{
        padding-top: 40px;
        padding-bottom: 50px;
    }
   
    #formconf h2{
        font-size: 2rem;
        font-family: var(--fonte1);
        color: var(--cor3);
        width: 200px;
        position: absolute;
        left: 23px;
    }
   
    #formconf button{
        position: absolute;
        margin-top: 5px;
        left: 20px;
        bottom: 60px;
        width: 213px;
        height: 35px;
        border-radius: 8px;
        font-family: var(--fonte);
        text-transform: uppercase;
        border: none;
        background-color: var(--cor3);
        color: white;
        font-size: 1rem;
        transition: .1s;
    }
    #formconf button:hover{
        background-color: var(--cor4);
        color: white;
    }   
    
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    section#confirmação{
        background-color: var(--cor2);
        height: 100vh; 
        display: flex;
        align-items: center; 
        justify-content: center;  
    }
    
    #conf{
        background-color: white;
        width: 700px;
        height: 500px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);
        transition: width .8s, heigth .8s;
        transition-timing-function: ease;
    }
    
    .imag{
        background-image: url(imagens/imagemconfirm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        width: 45%;
        height: 100%;
    }
    
    #formconf{
        padding-top: 70px;
        padding-left: 50px;
        padding-right: 50px;
        float: right;
        width: 55%;
        height: 100%;
        text-align: center;   
    }
    
    #formconf h2{
        padding-bottom: 40px;
        font-size: 3rem;
        font-family: var(--fonte2);
        color: var(--cor3);
    }
    
    #formconf button{
        margin-top: 5px;
        width: 80%;
        height: 35px;
        border-radius: 8px;
        font-family: var(--fonte);
        text-transform: uppercase;
        border: none;
        background-color: var(--cor3);
        color: white;
        font-size: 1.4rem;
        transition: .1s;
    }
    #formconf button:hover{
        background-color: var(--cor4);
        color: white;
    }
}