@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=GFS+Didot&display=swap'); 
 
*{
    padding: 0px;
    margin: 0px;
    font-style: italic;   
}

:root {
    --cor1:#F0EEF8;
    --cor2: #D0CAE6;
    --cor3:#7C70AE;
    --cor4:#574990;
    --cor5:#A79ECD;
    --fonte1:"Alex Brush", cursive;
    --fonte2:"GFS Didot", serif;
}


/* PARTE INICIAL DO SITE */
body{
}
section#inicio{
    
}

div#imgi{
    background-image: url(imagens/teste.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#imgi p{
    font-family: var(--fonte1);
    font-size: 60px;
    color: var(--cor1);    
}

div#imgi p#data{
    font-size: 40px;
}

nav{
    border-bottom: var(--cor2) solid 1px;
    justify-content: center;
    display: flex;
    height: 60px;
    background-color: white;
}

nav .list-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

nav .list-menu li{
    list-style: none;        
}

nav .list-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor3);   
    font-family: var(--fonte2);
    padding-bottom: 20px;
    font-weight: bold;
}

nav .list-menu li a:hover{
    border-bottom: var(--cor4) solid 2px;
    color: var(--cor4);      
}

/* DESENVOLVIMENTO DO SITE */

/*SEÇÃO NOIVOS*/
section#noivos{
    height: 700px;    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#imgpeq .imgpeq{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#imgpeq {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 800px;
}

#imgpeq #e{
    width: 95px;
    display: flex;
    align-items: center;
    color: var(--cor2);
    font-family: var(--fonte1);
    font-size: 65px;   
}

#imgpeq #e h2{
    font-weight: 100;
}

.imgefrase{
    text-align: center;
}

.imgefrase h2{
    padding-top: 15px;
    font-family: var(--fonte2);
    color: var(--cor3);
    font-size: 20px;
}

div#info{
    text-align: center;
}

div#info h2{
    color: var(--cor5);
    font-family: var(--fonte1);
    font-size: 70px;
    font-weight: 500;
}

div#info p{
    color: var(--cor4);
    font-family: var(--fonte2);
    font-size: 15px;
}

/*SEÇÃO CONTADOR*/
section#contador{
    display: flex;
    height: 200px;
    background-color: var(--cor1);
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: var(--cor5);
}

/* SEÇÃO SOBRE */
section#sobre {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 140px;
}

section#sobre h1{
    text-align: center;
    font-family: var(--fonte1);
    font-size: 70px;
    color: var(--cor5);
    padding-top: 80px;
    padding-bottom: 30px;
    font-weight: 100;
}

section#sobre div#blococol{
    display: flex;  
    flex-direction: column;  
}

section#sobre .blocoind{
    display: flex;
}

section#sobre .blocoind img{
    width: 520px;
    height: 330px;
}
section#sobre .blocoind .sobrenoivos{
    background-color: var(--cor1);
    width: 520px;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section#sobre .blocoind .sobrenoivos .sobrenoivos2{
    width: 400px;
    height: 10px;  
    margin-top: 60px;
    margin-left: 40px; 
    text-align: justify;         
}

section#sobre .blocoind .sobrenoivos .sobrenoivos2 h3{
    font-family: var(--fonte2);
    color: var(--cor4);    
    padding-bottom: 20px;
    font-size: 20px;
}

section#sobre .blocoind .sobrenoivos .sobrenoivos2 p{
    font-family: var(--fonte2);
    color: var(--cor3);
    font-style: normal;
}

/* SEÇÃO CONFIRMAÇÃO */
section#confirmação{
    height: 600px;
    background-color: var(--cor1); 
    display: flex;
    align-items: center; 
    justify-content: center;  
}

#formconf{
    background-color: white;
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

/* SEÇÃO MAPA */
section#mapa{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

/* FOOTER */
footer{
    background-color: var(--cor4);  
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    font-family: var(--fonte2);
    font-size: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    border-bottom: solid 1px rgb(100, 0, 0);
    color: rgb(100, 0, 0);
}